 {% extends 'admin/admin.html.twig' %}

{% block title 'Nouvelle categorie' %}


{% block body %}

    <div class="m-5">
        <h1>Nouvelle categorie</h1>
        {{ form(form) }}
    </div>
    
{% endblock %}
